[run]
omit =
    src/main.py
    src/tracker/bytetrack/*
    */__pycache__/*
    */tests/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
